<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>
        <a href="/first_app/">First App / Home</a>
    </h2>
    <h2>
        <a href="/first_app/geeksforgeeks/">First App / Geeks For Geeks Exercises</a>
    </h2>
    <h2>
        <a href="/first_app/earthlydev/">First App / Earthly Dev Exercises</a>
    </h2>
    
    <h1>This is Home Page.</h1>
</body>
</html>